<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800611197501-ildmjui0el7ui99i5cn6u9vhj7qm77l7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800611197501-ildmjui0el7ui99i5cn6u9vhj7qm77l7</string>
	<key>API_KEY</key>
	<string>AIzaSyDOO3ZH5BcuBD-iKnc_a3ifB7xXQQO8pwE</string>
	<key>GCM_SENDER_ID</key>
	<string>800611197501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circletravel.app</string>
	<key>PROJECT_ID</key>
	<string>circle-travel-app</string>
	<key>STORAGE_BUCKET</key>
	<string>circle-travel-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800611197501:ios:38d16345c1a1d2e3968054</string>
	<key>DATABASE_URL</key>
	<string>https://circle-travel-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>